header
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href="#") Node.js商城
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon

    div#navbarNav.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link(href="/") Shop首頁
          span.sr-only (current)
        li.nav-item
          a.nav-link(href="/admin/add-product") 添加商品